

<sht-carousel class="sht-carousel p-relative d-block" id="productGalleryCarousel-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="product-slideshow__items d-flex fw-nowrap ox-auto oy-hidden p-relative scrollable scrollable-x disable-scrollbars js-product-slideshow js-carousel-items" role="list" aria-label="{{ 'accessibility.slider' | t }}">
    {%-liquid
      assign product_media_index = 1
      if product.selected_or_first_available_variant.featured_media != null
        assign featured_media = product.selected_or_first_available_variant.featured_media
        assign is_first_image = true
        render 'product-slideshow-image', xr_button: true, section: section, media: featured_media, is_first_image: is_first_image, product: product, place_holder: place_holder, product_media_index: product_media_index, is_first_item: true, rand: rand, hide_variant_image: hide_variant_image, open_zoom_modal: open_zoom_modal, ratio: ratio, force_eager: force_eager, media_background: media_background
      endif

      for media in product.media
        unless media.id == product.selected_or_first_available_variant.featured_media.id
          if forloop.first and is_first_image == false
            assign is_first_image = true
          else
            assign is_first_image = false
          endif

          assign product_media_index = product_media_index | plus: 1
          render 'product-slideshow-image', xr_button: true, section: section, media: media, is_first_image: is_first_image, product: product, place_holder: place_holder, product_media_index: product_media_index, is_first_item: forloop.first, rand: rand, hide_variant_image: hide_variant_image, open_zoom_modal: open_zoom_modal, ratio: ratio, force_eager: force_eager, media_background: media_background
        endunless
      endfor
    -%}
  </div>
  <div class="carousel-pagination js-carousel-pagination center-xs no-js-hidden">
    <div class="p-absolute middle-y zi-1 left-0 ml-16">
      <button type="button" data-step="1" class="quickshop-carousel__btn js-carousel-prev-btn btn btn-outline  btn-icon icon btn--medium" aria-label="{{ 'accessibility.previous_slide' | t }}" name="previous" disabled>
        {% render 'icon-chevron-left' %}
      </button>
    </div>
    <div class="carousel__counter zi-1 p-absolute  pe-none">
      <span class="js-carousel-counter-current">1</span>
      <span aria-hidden="true">/</span>
      <span class="visually-hidden">{{ "accessibility.of" | t }}</span>
      <span class="js-carousel-counter-total">{{ product.media.size }}</span>
    </div>
    <div class="p-absolute middle-y zi-1 right-0 mr-16">
      <button type="button" data-step="1" class="quickshop-carousel__btn js-carousel-next-btn btn btn-outline  btn-icon icon btn--medium" aria-label="{{ 'accessibility.next_slide' | t }}" name="next">
        {% render 'icon-chevron-right' %}
      </button>
    </div>
  </div>
</sht-carousel>