{% liquid
	assign email = email | default: ''
%}

{% liquid
  assign detect_background = 1
  if section.settings.color_scheme.settings.color_background.alpha != 0.0
    assign no_transparent = 'no-transparent'
    assign detect_background = section.settings.color_scheme.settings.color_background | color_brightness | times: 9999
  endif
%}
<style>
  #shopify-section-{{ section.id }} {
    --section-background-hash: {{ detect_background }};
  }
  #shopify-section-{{ section.id }} + * {
    --previous-section-background-hash: {{ detect_background }};
  }
</style>

{{ 'account.css' | asset_url | stylesheet_tag: preload: true }}
<div class="s--margin color-{{- section.settings.color_scheme }} s-container-radius {{ no_transparent }}">
	<div class="section ctnr  ">
		<div class="d-flex fd-column gap-content mw-content">
			<div class="s-header ta-center">
				<h2 class="mb-2x"	tabindex="-1">{{ 'customer.reset_password.title' | t }}</h2>
				<div>{{ 'customer.reset_password.subtext' | t: email: email }}</div>
			</div>
			<div class="s-content">
				{%- form 'reset_customer_password', class: ' ' -%}
					{%- if form.errors -%}
						<div class="d-flex middle-xs mb-32 account-noti message--error center-xs m-auto">
							<div class="icon icon--small icon--error">
								{% render 'icon-close', size: 16 %}
							</div>
							<div class="ml-8 flex-1 subtext">
								<h6>
									{{ 'templates.contact.form.error_heading' | t }}
								</h6>
								<ul class="mt-8 pl-36 ls-none">
									{%- for field in form.errors -%}
										<li>
											{%- if field == 'form' -%}
												{{ form.errors.messages[field] }}
											{%- else -%}
												<a href="#field">
													{{ form.errors.translated_fields[field] | capitalize }}
													{{ form.errors.messages[field] }}
												</a>
											{%- endif -%}
										</li>
									{%- endfor -%}
								</ul>
							</div>
						</div>
					{%- endif -%}
					<div class="mb-24">
						<label for="password" class="field__label d-block mb-1x">
							{{ 'customer.reset_password.password' | t }}<sup class="ml-4 color-danger">*</sup>
						</label>
						<input
							type="password"
							name="customer[password]"
							id="password"
							autocomplete="new-password"
							{% if form.errors contains 'password' %}
								aria-invalid="true"
								aria-describedby="password-error"
							{% endif %}
							placeholder="{{ 'customer.placeholder.password' | t }}"
							aria-required="true"
							required="required"
							class="field__text field--large field--hover{% if form.errors contains 'password' %} field--error{% endif %} w-100"
						>
						{% if form.errors contains 'password' -%}
							<span class="d-block mt-8 color-danger subtext">
								{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
							</span>
						{%- endif -%}
					</div>
					<div class="mb-32">
						<label for="password_confirmation" class="field__label d-block mb-1x">
							{{ 'customer.reset_password.password_confirm' | t }}<sup class="ml-4 color-danger">*</sup>
						</label>
						<input
							type="password"
							name="customer[password_confirmation]"
							id="password_confirmation"
							autocomplete="new-password"
							{% if form.errors contains 'password_confirmation' %}
								aria-invalid="true"
								aria-describedby="password_confirmation-error"
							{% endif %}
							placeholder="{{ 'customer.placeholder.password' | t }}"
							aria-required="true"
							required="required"
							class="field__text field--large field--hover{% if form.errors contains 'password_confirmation' %} field--error{% endif %} w-100"
						>
						{%- if form.errors contains 'password_confirmation' -%}
							<span class="d-block mt-8 color-danger subtext">
								{{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
							</span>
						{%- endif -%}
					</div>
					<div class="d-flex fd-column fd-row-md center-xs mt-32">
						<button class="btn btn--large btn-primary ">
							{{ 'customer.reset_password.button' | t }}
						</button>
					</div>
				{%- endform -%}
			</div>
		</div>
	</div>
</div>
{% schema %}
{
  "name": "t:sections.account_reset_password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.general.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}