{%- liquid
  assign rand =  section.id | md5 | truncate: 12, ""
  assign loading = "lazy"
  assign decoding ="async"
  assign fetchpriority = "auto"

  if section.index <= 2
    assign loading = "eager"
    assign fetchpriority = "high"
  endif

  if section.settings.enable_block_background
    assign card_border = 'border'
    unless section.settings.color_content.alpha == 0.0 or section.settings.color_content == blank
      assign color_content = 'color: ' | append: section.settings.color_content | append: '; --color-normal-text-rgb:' | append: section.settings.color_content.red | append: ',' | append: section.settings.color_content.green | append: ',' | append: section.settings.color_content.blue
    endunless
    unless section.settings.background_content.alpha == 0.0 or section.settings.background_content == blank
      assign background_content = '; background: ' | append: section.settings.background_content
    endunless
  endif
-%}

{% liquid
  assign detect_background = 1
  if section.settings.color_scheme.settings.color_background.alpha != 0.0
    assign no_transparent = 'no-transparent'
    assign detect_background = section.settings.color_scheme.settings.color_background | color_brightness | times: 9999
  endif
%}
<style>
  #shopify-section-{{ section.id }} {
    --section-background-hash: {{ detect_background }};
  }
  #shopify-section-{{ section.id }} + * {
    --previous-section-background-hash: {{ detect_background }};
  }
</style>

<div class="s--margin color-{{- section.settings.color_scheme }} s-container-radius o-hidden {{ no_transparent }}" data-ui-component="Customer Reviews Section" role="region" aria-label="{{- section.blocks[0].settings.heading -}}">
  <div id="marquee-{{ rand }}" class="section ctnr d-flex fd-column">
    {% render 'section-header',
     content_align_mobile: section.settings.content_align_mobile,
     content_align_desktop: section.settings.content_align_desktop,
     subheading: section.settings.subheading,
     heading: section.settings.heading,
     description: section.settings.description,
     heading_size: section.settings.heading_size,
     section: section
    %}
    <sht-review data-speed="{{ section.settings.speed }}" class="d-flex fd-column bottom-xs gap-content w-100">
      {% capture block_review %}
        {%- for block in section.blocks -%}
          <div class="block-review {{ section.settings.enable_block_background | default: 'card--standard' | replace: 'true', '' }}" {{ block.shopify_attributes }}>
            <div class="card__content {{ card_border }} br-card-content d-flex fd-column gap-1-5-x h-100 w-100" style="{{ color_content }} {{ background_content }}">
              <div class="d-flex middle-xs hide-empty gap-1x">
                {%- liquid
                  assign star_line = 5 | minus: block.settings.star
                  if block.settings.avatar != blank
                    assign block_media = ''
                    assign block_media = block.settings.avatar | image_url: width: block.settings.avatar.width | image_tag: widths: '120', sizes: '120px', alt: block.settings.author, class: 'media of-cover h-100 w-100', loading: loading, fetchpriority: fetchpriority, decoding: decoding
                    render 'image', image_item: block_media
                  endif
                -%}
                <div class="flex-1 wb-break-word">
                  <span class="d-block fw-700 hide-empty mb-4">{{- block.settings.author -}}</span>
                  <span class="subtext hide-empty ">{{- block.settings.author_title -}}</span>
                </div>
              </div>
              <div class="d-flex fd-column">
                <div class="stars d-flex mb-12 {{ section.settings.show_rating | default: 'd-none-important' | replace: 'true', '' }}" style="--color-star: {{- section.settings.color_star -}}">
                  {% for i in (1..block.settings.star) %}
                    {% render 'icon-star', size: 20 %}
                  {% endfor %}
                  {% for i in (1..star_line) %}
                    {% render 'icon-star-line', size: 20 %}
                  {% endfor %}
                </div>
                <div class="rte hide-empty wb-break-word marquee-font--{{- section.settings.content_font -}}" style="--font-size: {{- section.settings.content_size -}}">
                  {{- block.settings.description -}}
                </div>
              </div>
            </div>
          </div>
        {%- endfor -%}
      {% endcapture %}
      <div class="w-100 p-relative d-flex gap-equal middle-xs">
        <div class="d-flex w-100 gap-equal_ fw-nowrap marquee__{{- section.blocks.size -}}__items js-marquee-items">
          <div class="js-marquee-item d-flex fw-nowrap fs-0 marquee__items--animate marquee--{{- section.settings.moving_direction }}">
            {% case section.blocks.size %}
              {% when 1 %}
                {% for i in (1..6) %}
                  {{ block_review }}
                {% endfor %}
              {% else %}
              {% for i in (1..4) %}
                {{ block_review }}
              {% endfor %}
            {% endcase %}
          </div>
          <div class="js-marquee-item d-flex fw-nowrap fs-0 marquee__items--animate marquee--{{- section.settings.moving_direction }}">
            {% case section.blocks.size %}
              {% when 1 %}
                {% for i in (1..6) %}
                  {{ block_review }}
                {% endfor %}
              {% else %}
              {% for i in (1..4) %}
                {{ block_review }}
              {% endfor %}
            {% endcase %}
          </div>
        </div>
      </div>
      <div class="customer-review-btn w-100 d-flex end-xs {{ section.settings.enable_play | default: 'd-none-important' | replace: 'true', '' }}">
        <button class="js-marquee-pause-n-play-btn btn btn--large btn-outline btn-icon" aria-label="{{ 'accessibility.pause_play_button' | t }}" aria-pressed="false">
          {% liquid
            render 'icon-pause', class: 'js-marqueen-pause-btn'
            render 'icon-play', class: 'js-marqueen-play-btn d-none'
          %}
        </button>
      </div>
    </sht-review>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.customer_reviews.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.general.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:general.settings.section_subheading.label",
      "default": "Add a tagline"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.section_heading.label",
      "info": "t:general.settings.prominent_font.info",
      "default": "What our customers say"
    },
    {
      "type": "select",
      "label": "t:general.settings.heading_size.label",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:general.settings.heading_size.options.h2.label"
        },
        {
          "value": "h3",
          "label": "t:general.settings.heading_size.options.h3.label"
        },
        {
          "value": "h4",
          "label": "t:general.settings.heading_size.options.h4.label"
        },
        {
          "value": "h5",
          "label": "t:general.settings.heading_size.options.h5.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:general.settings.section_description.label"
    },
    {
      "type": "select",
      "id": "speed",
      "label": "t:sections.running_content.settings.speed.label",
      "default": "50",
      "options": [
        {
          "value": "50",
          "label": "t:sections.running_content.settings.speed.option_1.label"
        },
        {
          "value": "100",
          "label": "t:sections.running_content.settings.speed.option_2.label"
        },
        {
          "value": "150",
          "label": "t:sections.running_content.settings.speed.option_3.label"
        },
        {
          "value": "200",
          "label": "t:sections.running_content.settings.speed.option_4.label"
        }
      ]
    },
    {
      "type": "select",
      "label": "t:sections.running_content.settings.moving_direction.label",
      "id": "moving_direction",
      "options": [
        {
          "value": "animation-direction",
          "label": "t:sections.running_content.settings.moving_direction.option_1.label"
        },
        {
          "value": "animation-reverse",
          "label": "t:sections.running_content.settings.moving_direction.option_2.label"
        }
      ],
      "default": "animation-direction"
    },
    {
      "type": "checkbox",
      "id": "enable_play",
      "label": "t:sections.customer_reviews.settings.show_play_button.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.customer_reviews.settings.header.customer_review_item.content"
    },
    {
      "type": "select",
      "id": "content_font",
      "label": "t:sections.customer_reviews.settings.content_font.label",
      "options": [
        {
          "value": "body",
          "label": "t:general.settings.option_body.label"
        },
        {
          "value": "heading",
          "label": "t:general.settings.option_heading.label"
        }
      ],
      "default": "body"
    },
    {
      "type": "select",
      "id": "content_size",
      "label": "t:sections.customer_reviews.settings.content_text_size.label",
      "options": [
        {
          "value": "1",
          "label": "t:general.settings.option_regular.label"
        },
        {
          "value": "1.2",
          "label": "t:general.settings.option_large.label"
        }
      ],
      "default": "1"
    },
    {
      "type": "checkbox",
      "id": "enable_block_background",
      "label": "t:general.settings.enable_block_background.label"
    },
    {
      "type": "color",
      "id": "background_content",
      "label": "t:general.settings.background.label"
    },
    {
      "type": "color",
      "id": "color_content",
      "label": "t:general.settings.content.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "label": "t:sections.customer_reviews.settings.show_star_rating.label",
      "default": true
    },
    {
      "type": "color",
      "id": "color_star",
      "label": "t:sections.customer_reviews.settings.star_rating.label",
      "default": "#F8CC46"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_large_screen.content"
    },
    {
      "type": "select",
      "id": "content_align_desktop",
      "label": "t:general.settings.section_heading_position.label",
      "default": "ta-center-md",
      "options": [
        {
          "value": "ta-left-md",
          "label": "t:general.settings.option_left.label"
        },
        {
          "value": "ta-center-md",
          "label": "t:general.settings.option_center.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_mobile_screen.content"
    },
    {
      "type": "select",
      "id": "content_align_mobile",
      "label": "t:general.settings.section_heading_position.label",
      "default": "ta-center",
      "options": [
        {
          "value": "ta-left",
          "label": "t:general.settings.option_left.label"
        },
        {
          "value": "ta-center",
          "label": "t:general.settings.option_center.label"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "t:sections.customer_reviews.blocks.review.name",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "t:general.settings.avatar.label",
          "info": "t:general.settings.custom_img.info"
        },
        {
          "type": "range",
          "id": "star",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "t:sections.customer_reviews.settings.star_rating.label",
          "default": 3
        },
        {
          "type": "text",
          "id": "author",
          "label": "t:sections.customer_reviews.settings.author.label",
          "default": "A happy customer"
        },
        {
          "type": "text",
          "id": "author_title",
          "label": "t:sections.customer_reviews.settings.author_title.label",
          "default": "Who is satisfied with our store"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:general.settings.content.label",
          "default": "<p>Add reviews to showcase your store's happy customers</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.customer_reviews.name",
      "blocks": [
        {
          "type": "review"
        },
        {
          "type": "review"
        },
        {
          "type": "review"
        },
        {
          "type": "review"
        },
        {
          "type": "review"
        }
      ]
    }
  ]
}
{% endschema %}