{% liquid
  assign detect_background = 1
  if section.settings.color_scheme.settings.color_background.alpha != 0.0
    assign no_transparent = 'no-transparent'
    assign detect_background = section.settings.color_scheme.settings.color_background | color_brightness | times: 9999
  endif
%}
<style>
  #shopify-section-{{ section.id }} {
    --section-background-hash: {{ detect_background }};
  }
  #shopify-section-{{ section.id }} + * {
    --previous-section-background-hash: {{ detect_background }};
  }
</style>

<div class="s--margin color-{{- section.settings.color_scheme }} s-container-radius {{ no_transparent }}" data-ui-component="Custom Liquid Section" role="region" aria-labelledby="sectionHeading-{{ section.id | md5 | truncate: 12, "" }}">
  <div class="section ctnr d-grid  ">
    {% render 'section-header',
        subheading: section.settings.subheading,
        heading: section.settings.heading,
        description: section.settings.description,
        heading_size: section.settings.heading_size,
        content_align_mobile: section.settings.content_align_mobile,
        content_align_desktop: section.settings.content_align_desktop,
        section: section
    %}
    <div class="s-content hide-empty">{{- section.settings.liquid_code -}}</div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.custom_liquid.name",
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.general.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:general.settings.section_subheading.label",
      "default": "Add a tagline"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.section_heading.label",
      "info": "t:general.settings.prominent_font.info",
      "default": "[Welcome] to our store"
    },
    {
      "type": "select",
      "label": "t:general.settings.heading_size.label",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:general.settings.heading_size.options.h2.label"
        },
        {
          "value": "h3",
          "label": "t:general.settings.heading_size.options.h3.label"
        },
        {
          "value": "h4",
          "label": "t:general.settings.heading_size.options.h4.label"
        },
        {
          "value": "h5",
          "label": "t:general.settings.heading_size.options.h5.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:general.settings.section_description.label"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.liquid_code.content"
    },
    {
      "type": "liquid",
      "id": "liquid_code",
      "label": "t:sections.custom_liquid.settings.liquid_code.label",
      "default": "<p style=\"text-align: center\">Write or copy/paste Liquid code</p>"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.image.content"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_large_screen.content"
    },
    {
      "type": "select",
      "id": "content_align_desktop",
      "label": "t:general.settings.section_heading_alignment.label",
      "options": [
        {
          "value": "ta-left-md",
          "label": "t:general.settings.option_left.label"
        },
        {
          "value": "ta-center-md",
          "label": "t:general.settings.option_center.label"
        }
      ],
      "default": "ta-center-md"
    },
    {
      "type": "header",
      "content": "t:general.settings.header.mobile_screen.content"
    },
    {
      "type": "select",
      "id": "content_align_mobile",
      "label": "t:general.settings.section_heading_alignment.label",
      "options": [
        {
          "value": "ta-left",
          "label": "t:general.settings.option_left.label"
        },
        {
          "value": "ta-center",
          "label": "t:general.settings.option_center.label"
        }
      ],
      "default": "ta-center"
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_liquid.name"
    }
  ]
}
{% endschema %}