{%- liquid
  assign desktop_background_image_alt  = section.settings.desktop_background_image.alt | default: section.settings.desktop_background_image.image | split: '/' | last
  assign desktop_background_image = section.settings.desktop_background_image | image_url: width: section.settings.desktop_background_image.width | image_tag: widths: '750, 950, 1024, 1200, 1400, 1600, 1800, 2000', sizes: "(min-width: 361px) calc(100vw/2), calc(100vw/3)", alt: desktop_background_image_alt, class: 'js-image-lazy d-none d-block-md w-100 h-100 of-cover'

  assign mobile_background_image_alt  = section.settings.mobile_background_image.alt | default: section.settings.mobile_background_image.image | split: '/' | last
  assign mobile_background_image = section.settings.mobile_background_image | image_url: width: section.settings.mobile_background_image.width | image_tag: widths: '750', sizes: "(min-width: 361px) calc(100vw/2), calc(100vw/3)", alt: mobile_background_image_alt, class: 'js-image-lazy-mobile d-none-md d-block w-100 h-100 of-cover'

  if section.settings.mobile_background_image == blank
    assign desktop_background_image = desktop_background_image | replace: 'd-none d-block-md', ''
  endif

  if section.settings.mobile_background_image or section.settings.desktop_background_image
    unless section.settings.mask_overlay_color.alpha == 0.0 or section.settings.mask_overlay_color == blank
      assign overlay_color =  '--color-background:' | append: section.settings.mask_overlay_color
    endunless
    unless section.settings.content_overlay_color.alpha == 0.0 or section.settings.content_overlay_color == blank
      assign content_color =  'color:' | append: section.settings.content_overlay_color
    endunless
  endif
-%}
{{ 'password.css' | asset_url | stylesheet_tag: preload: true }}

<div class="password-wrapper s-container-radius o-hidden color-{{ section.settings.color_scheme }} no_transparent">
  <div class="w-100 mih p-relative d-flex fd-column ta-center middle-xs between-xs o-hidden" style="{{ content_color }}">
    {% if section.settings.mobile_background_image or section.settings.desktop_background_image %}
      <div class="p-absolute w-100 h-100 sht-mask" style="--overlay: {{ section.settings.overlay_opacity }}; {{ overlay_color }}">
          <div class="d-block w-100 h-100">
            {%- liquid
              echo desktop_background_image | replace: "src=", 'loading="lazy" decoding="async" src='
              if section.settings.mobile_background_image
                  echo mobile_background_image | replace: "src=", 'data="mobile" loading="lazy" decoding="async" src='
              endif
            -%}
          </div>
      </div>
    {% endif %}
    <div class="ctnr section password w-100 zi-2 d-flex fd-column center-xs middle-xs flex-1">
      {%- if shop.password_message != blank -%}
        <div class="mt-24 mt-lg-8">
          {{ shop.password_message }}
        </div>
      {%- endif -%}
      <div class="s-header__content s-header__banner d-flex fd-column center-xs middle-xs wb-break-word">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {% when 'logo' %}
              <div class="password__logo" {{ block.shopify_attributes }}>
                <div class="d-flex middle-xs" style="--logo-ratio: {{ block.settings.logo.aspect_ratio }};--logo-width-desktop: {{ block.settings.logo_width -}} px; --logo-width-mobile: {{ block.settings.logo_width_mobile }}px">
                  <h1 class="header__heading h5 m-zero wb-break-word visually-hidden">{{ block.settings.logo.alt | default: shop.name | escape }}</h1>
                  <a href="{{ routes.root_url }}" aria-label="{{ block.settings.logo.alt | default: shop.name | escape }}" class="header__logo-link m-zero js-header-logo-link d-block h5 p-relative wb-break-word">
                    {%- if block.settings.logo != blank -%}
                      {%- liquid
                        assign logo_alt = block.settings.logo.alt | default: shop.name | escape
                        assign logo_height = block.settings.logo_width | times: 2 | divided_by: block.settings.logo.aspect_ratio
                        assign logo_width = block.settings.logo_width | times: 2
                      -%}
                      {% capture sizes %}{{ logo_width }}px{% endcapture %}
                      {% capture widths %}{{ block.settings.logo_width }}, {{ logo_width | round }}, {{ logo_width }}{% endcapture %}
                      {{ block.settings.logo | image_url: width: 600 | image_tag: class: 'header__logo__img', widths: widths, height: logo_height, width: logo_width, alt: logo_alt, sizes: sizes, preload: true }}
                    {%- else -%}
                      <span class="header__heading m-zero wb-break-word">{{ shop.name }}</span>
                    {%- endif -%}
                  </a>
                </div>
              </div>
            {% when 'subheading'%}
              <div class="s-header__sub s-header__item hide-empty d-block {{ settings.subheading_style }}" {{ block.shopify_attributes }}>
                {{- block.settings.subheading | escape -}}
              </div>
            {% when 'heading'%}
              <h2 class="s-header__title {{ block.settings.heading_size }} wb-break-word hide-empty d-block m-zero" {{ block.shopify_attributes }}>
                {{- block.settings.heading | replace: '[', '<span class="prominent-heading">' | replace: ']', '</span>' -}}
              </h2>
            {% when 'description'%}
              <div class="s-header__desc s-header__item rte hide-empty" {{ block.shopify_attributes }}>
                {{- block.settings.description -}}
              </div>
            {% when 'password'%}
              {%- form 'storefront_password', class: 'password_form', id: 'page-password' -%}
                <div class="form__group d-flex fd-column fd-row-sm gap-12 layout-form mb-24">
                  <input id="mainPasswordInput" type="password" class="field__text field--large field--hover w-100 fg-1" name="password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                    placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                    aria-label="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                    autofocus
                    required
                  >
                  <label class="field__label visually-hidden" for="mainPasswordInput">{{ 'general.password_page.your_password' | t }}</label>
                  <button aria-label="{{ 'general.password_page.login_form_submit' | t }}" type="submit" name="commit" class="btn btn-primary  fs-0">
                    {{ 'general.password_page.login_form_submit' | t }}
                  </button>
                </div>
                {%- if form.errors -%}
                  <div class="message--error d-flex middle-xs start-xs mt-16">
                    <div class="icon icon--small icon--error fs-0">
                      {% render 'icon-close', size: 16 %}
                    </div>
                    <span class="ml-8 subtext">
                      {{ form.errors.messages['form'] }}
                    </span>
                  </div>
                {%- endif -%}
              {%- endform -%}
            {% when 'newsletter'%}
              <div class="password__newsletter mb-3x w-100" {{ block.shopify_attributes }}>
                {% render 'newsletter-form', form_id: 'mainPassword', form_name: 'mainPassword', classes: 'fw-wrap', button_label: block.settings.button_text, btn_class: block.settings.button_style, input_class: 'flex-1' %}
              </div>
            {% when 'social'%}
              <div class="password-socials mb-3x" {{ block.shopify_attributes }}>
                <span class="h6 d-block m-zero mb-8 hide-empty">{{- block.settings.heading -}}</span>
                {% render 'socials', classes: 'center-xs gap-8', button_type: block.settings.button_style %}
              </div>
          {% endcase %}
        {%- endfor -%}
      </div>
    </div>
    {% comment %} <div class="ctnr password__footer d-flex fd-column center-xs w-100 zi-2 between-md middle-md fd-row-md r-gap-24">
      {%- capture shopify_link -%}
        <a class="d-flex middle-xs ml-4" href="//www.shopify.com" rel="nofollow" target="_blank" aria-describedby="a11y-new-window-message" aria-label="Shopify">
          {%- render 'icon-shopify' %}
        </a>
      {%- endcapture -%}
      <div class="d-flex middle-xs center-xs">
        {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify_link }}
      </div>
      <div class="d-flex middle-xs center-xs c-gap-24 r-gap-4 fw-wrap">
        <sht-password-modal class="d-flex">
          <details class="password-modal">
            <summary class="modal__toggle ls-none d-flex" aria-haspopup="dialog">
              <button class="btn btn-link modal__toggle-open subtext d-flex middle-xs">
                {{ 'general.password_page.login_password_button' | t }}
              </button>
            </summary>
            <div class="modal__content modal js-password-modal-content p-fixed w-100v h-100v left-0 top-0 hidden-xs opacity-0 d-flex bottom-xs end-xs ta-center js-modal color-{{- settings.color_scheme_drawer_popover }}"
            role="dialog"
            aria-labelledby="dialogPasswordHeading"
            aria-modal="true"
            >
              <div class="password-modal__content dialog disable-scrollbars" tabindex="-1">
                <div class="dialog__header d-flex between-xs middle-xs">
                  <h6 class="ta-left m-zero" id="dialogPasswordHeading" data-type="modal-title">
                    {{ 'general.password_page.login_form_heading' | t }}
                  </h6>
                  <button aria-label="{{ 'accessibility.close' | t }}" type="button" class="btn btn-plain btn-modal-close js-modal-btn-close" data-dismiss="modal">
                    {%- render 'icon-close', size: 20 -%}
                  </button>
                </div>
                <div class="modal-dialog__body dialog__body disable-scrollbars">
                  {%- form 'storefront_password', class: 'password_form', id: 'modal-password' -%}
                    <div class="form__group d-flex fd-column fd-row-sm gap-12 layout-form">
                      <input id="mainPasswordInput" type="password" class="field__text field--large field--hover w-100 fg-1" name="password"
                      {% if form.errors %}
                        aria-invalid="true"
                        aria-describedby="PasswordLoginForm-password-error"
                      {%- endif -%}
                        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                        aria-label="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                        autofocus
                        required
                      >
                      <label class="field__label visually-hidden" for="mainPasswordInput">{{ 'general.password_page.your_password' | t }}</label>
                      <button aria-label="{{ 'general.password_page.login_form_submit' | t }}" type="submit" name="commit" class="btn btn-primary  fs-0">
                        {{ 'general.password_page.login_form_submit' | t }}
                      </button>
                    </div>
                    {%- if form.errors -%}
                      <div class="message--error d-flex middle-xs start-xs mt-16">
                        <div class="icon icon--small icon--error fs-0">
                          {% render 'icon-close', size: 16 %}
                        </div>
                        <span class="ml-8 subtext">
                          {{ form.errors.messages['form'] }}
                        </span>
                      </div>
                    {%- endif -%}
                  {%- endform -%}
                  <span class="d-block subtext mt-12">
                    {{ "general.password_page.admin_link_html" | t }}
                    <a href="{{routes.root_url}}admin" class="btn btn-link">{{ 'general.password_page.admin_link_login' | t }}</a>
                  </span>
                </div>
              </div>
            </div>
          </details>
        </sht-password-modal>
        <span class="password__admin-account">
          {{ 'general.password_page.admin_link_html' | t }}
          <a href="{{routes.root_url}}admin" class="btn btn-link ml-8">{{ 'general.password_page.admin_link_login' | t }}</a>
        </span>
      </div>
    </div>{% endcomment %}
  </div>
</div>
{%- liquid
  assign files = "component-password.js" | split: ', '
  render 'js-loader', files: files
-%}
<ul hidden>
  <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
</ul>
{% schema %}
{
  "name": "t:sections.main_password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.general.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.image.content"
    },
    {
      "type": "image_picker",
      "id": "desktop_background_image",
      "label": "t:general.settings.desktop_background_image.label",
      "info": "t:sections.main_password.settings.desktop_image.info"
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "t:general.settings.mobile_background_image.label",
      "info": "t:general.settings.image_recommend_mobile.info"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.custom_color.content"
    },
    {
      "type": "color",
      "id": "mask_overlay_color",
      "label": "t:general.settings.mask_overlay.label"
    },
    {
      "type": "range",
      "unit": "%",
      "max": 90,
      "min": 0,
      "step": 1,
      "default": 30,
      "id": "overlay_opacity",
      "label": "t:general.settings.overlay_opacity.label"
    },
    {
      "type": "color",
      "id": "content_overlay_color",
      "label": "t:general.settings.text_overlay.label"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "t:sections.main_password.blocks.settings.logo.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.header.settings.logo_image.label",
          "info": "t:general.settings.recomended_3.info"
        },
        {
          "type": "range",
          "id": "logo_width",
          "min": 40,
          "max": 200,
          "label": "t:sections.header.settings.max_width_on_large_screen.label",
          "unit": "px",
          "default": 140,
          "step": 5
        },
        {
          "type": "range",
          "id": "logo_width_mobile",
          "min": 40,
          "max": 140,
          "label": "t:sections.header.settings.max_width_on_mobile.label",
          "unit": "px",
          "default": 70,
          "step": 5
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:general.settings.headers.subheading.content",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "t:general.settings.text.label",
          "id": "subheading",
          "default": "Add a tagline"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:general.settings.headers.heading.content",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:general.settings.text.label",
          "info": "t:general.settings.prominent_font.info",
          "default": "Opening soon"
        },
        {
          "type": "select",
          "label": "t:general.settings.heading_size.label",
          "id": "heading_size",
          "options": [
            {
              "value": "headline",
              "label": "t:general.settings.heading_size.options.headline.label"
            },
            {
              "value": "h1",
              "label": "t:general.settings.heading_size.options.h1.label"
            },
            {
              "value": "h2",
              "label": "t:general.settings.heading_size.options.h2.label"
            },
            {
              "value": "h3",
              "label": "t:general.settings.heading_size.options.h3.label"
            }
          ],
          "default": "h2"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:general.settings.headers.description.content",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "label": "t:general.settings.richtext.label",
          "id": "description",
          "default": "<p>Be the first to know about our new collections and exclusive offers</p>"
        }
      ]
    },
     {
      "type": "password",
      "name": "Password Form",
      "limit": 1,
      "settings": [
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.main_password.blocks.settings.newsletter.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "t:general.settings.submit_button.label",
          "default": "Notify me"
        },
        {
          "type": "select",
          "label": "t:general.settings.style.label",
          "id": "button_style",
          "options": [
            {
              "value": "btn-primary",
              "label": "t:general.settings.filled.label"
            },
            {
              "value": "btn-outline",
              "label": "t:general.settings.oulined.label"
            },
            {
              "value": "btn-link",
              "label": "t:general.settings.text_link.label"
            }
          ],
          "default": "btn-primary"
        }
      ]
    },
    {
      "type": "social",
      "name": "t:sections.footer.settings.headers.header_social_media.content",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:general.settings.heading.label",
          "info": "t:sections.main_password.blocks.settings.social_media.info",
          "default": "Follow us"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.footer.settings.social_media_button_style.label",
          "default": "btn-plain",
          "options": [
            {
              "value": "btn-primary",
              "label": "t:general.settings.filled_button.label"
            },
            {
              "value": "btn-plain",
              "label": "t:general.settings.ghost_button.label"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
