{% liquid
  assign section_id = section.id | md5 | truncate: 12, ""
  assign frm_id = section_id | prepend: 'newsletterForm-'
%}

{% if section.settings.image %}
  {%- liquid
    assign loading = "lazy"
    assign decoding ="async"
    assign fetchpriority = "auto"

    if section.index <= 2
      assign loading = "eager"
      assign fetchpriority = "high"
    endif
    assign alt_image = section.settings.image.alt | default: section.settings.image.image | split: '/' | last
    assign media = section.settings.image | image_url: width: section.settings.image.width | image_tag: widths: '450, 550, 750, 950, 1024, 1200, 1400, 1600, 1800, 2000', sizes: '(min-width: 361px) calc(100vw/2), 100vw', alt: alt_image, class: 'media w-100 h-100', loading: loading, fetchpriority: fetchpriority, decoding: decoding

    assign  gap_layout_inline = 'gap-horizontal-md'
    -%}
  {% capture newsletter_image %}
    <div class="s-content" style="--w-md: 6;">
      {% render 'image', ratio: 'auto', image_item: media, image_wrap_classes: 'rounded-2x media--hover-effect' %}
    </div>
  {% endcapture %}
{% else %}
  {%- liquid
    assign max_width_content = 'mw-content'
  -%}
{% endif %}

{% liquid
  assign detect_background = 1
  if section.settings.color_scheme.settings.color_background.alpha != 0.0
    assign no_transparent = 'no-transparent'
    assign detect_background = section.settings.color_scheme.settings.color_background | color_brightness | times: 9999
  endif
%}
<style>
  #shopify-section-{{ section.id }} {
    --section-background-hash: {{ detect_background }};
  }
  #shopify-section-{{ section.id }} + * {
    --previous-section-background-hash: {{ detect_background }};
  }
</style>

<div class="s--margin color-{{- section.settings.color_scheme }} s-container-radius {{ no_transparent }}" data-ui-component="Newsletter Section" role="region" aria-labelledby="sectionHeading-{{ section.id | md5 | truncate: 12, "" }}">
  <div class="ctnr newsletter section d-grid  ">
    <div class="d-flex fd-column gap-content {{ gap_layout_inline }} center-xs {{ section.settings.content_ordering_mobile }} {{ section.settings.content_ordering_desktop }}">
      <div class="{{- max_width_content }} d-flex gap-content fd-column" style="--w-md: 6;">
        {% render 'section-header',
            subheading: section.settings.subheading,
            heading: section.settings.heading,
            description: section.settings.description,
            heading_size: section.settings.heading_size,
            section: section
            %}
        {% render 'newsletter-form', form_id: frm_id , form_name: 'newsletterForm', button_label: section.settings.button_label, classes: 'fw-wrap-sm', input_class: 'flex-1' %}
      </div>
      {{ newsletter_image }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "disabled_on": {
    "groups": [
      "header"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.general.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:general.settings.section_subheading.label",
      "default": "Add a tagline"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.section_heading.label",
      "info": "t:general.settings.prominent_font.info",
      "default": "Subscribe to our newsletter "
    },
    {
      "type": "select",
      "label": "t:general.settings.heading_size.label",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:general.settings.heading_size.options.h2.label"
        },
        {
          "value": "h3",
          "label": "t:general.settings.heading_size.options.h3.label"
        },
        {
          "value": "h4",
          "label": "t:general.settings.heading_size.options.h4.label"
        },
        {
          "value": "h5",
          "label": "t:general.settings.heading_size.options.h5.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:general.settings.section_description.label",
      "default": "<p>Write a short sentence describing what customers can expect from your newsletter</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:general.settings.submit_button.label",
      "default": "Subscribe"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.image.content"
    },
    {
      "type": "image_picker",
      "label": "t:general.settings.image.label",
      "id": "image"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_large_screen.content"
    },
    {
      "type": "select",
      "id": "content_ordering_desktop",
      "label": "t:general.settings.section_ordering.label",
      "options": [
        {
          "value": "fd-row-md",
          "label": "t:general.settings.section_ordering.option_text_first.label"
        },
        {
          "value": "fd-row-reverse-md",
          "label": "t:general.settings.section_ordering.option_image_first.label"
        }
      ],
      "default": "fd-row-md"
    },
    {
      "type": "header",
      "content": "t:general.settings.header.mobile_screen.content"
    },
    {
      "type": "select",
      "id": "content_ordering_mobile",
      "label": "t:general.settings.section_ordering.label",
      "options": [
        {
          "value": "image-first-mb",
          "label": "t:general.settings.section_ordering.option_text_first.label"
        },
        {
          "value": "fd-column-reverse",
          "label": "t:general.settings.section_ordering.option_image_first.label"
        }
      ],
      "default": "image-first-mb"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.name"
    }
  ]
}
{% endschema %}