{%- if section.blocks.size > 0 -%}
{%- liquid
  assign rand =  section.id | md5 | truncate: 12, ""
  assign loading = "lazy"
  assign decoding ="async"
  assign fetchpriority = "auto"

  if section.index <= 2
    assign loading = "eager"
    assign fetchpriority = "high"
  endif

  assign detect_background = 1
  if section.settings.color_scheme.settings.color_background.alpha != 0.0
    assign no_transparent = 'no-transparent'
    assign detect_background = section.settings.color_scheme.settings.color_background | color_brightness | times: 9999
  endif
-%}

<style>
  #shopify-section-{{- section.id -}} {
    --section-background-hash: {{- detect_background -}};
  }
  #shopify-section-{{- section.id -}} + * {
    --previous-section-background-hash: {{- detect_background -}};
  }
</style>


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile | append: 'px' }};
    padding-bottom: {{ section.settings.padding_bottom_mobile | append: 'px' }};
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | append: 'px'}};
      padding-bottom: {{ section.settings.padding_bottom | append: 'px'}};
    }
  }
{%- endstyle -%}

<div class="marquee-wrapper section-{{ section.id }}-padding  color-{{- section.settings.color_scheme }} s-container-radius o-hidden running-content__wrapper js-running-content {{ no_transparent }}" data-ui-component="Running Content Section" role="region" style="--spacing-running-content: calc( 1.25 * {{ section.settings.heading_size | replace: "headline", "var(--headline)" | replace: "h1", "var(--heading-1)" | replace: "h2", "var(--heading-2)" | replace: "h3", "var(--heading-3)" | replace: "h4", "var(--heading-4)" | replace: "h5", "var(--heading-5)" | replace: "h6", "var(--heading-6)" }})">
  <div id="marquee-{{ rand }}" class="running-content marquee d-flex middle-xs  ">
    <sht-marquee data-speed="{{ section.settings.speed }}" class="ws-nowrap o-hidden w-100 p-relative d-block zi-1 gap-2x" style="--marquee-duration: {{ 1000 | divided_by: section.settings.speed }}s;">
      {%- capture marquee_item -%}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'text' -%}
              {%- liquid
                assign content_color_class = ''
                assign content_color_style = ''
                unless block.settings.color_text.alpha == 0.0 or block.settings.color_text == blank
                  assign content_color_style =  'color:' | append: block.settings.color_text
                endunless
                if block.settings.text_color_gradient != empty
                  assign content_color_class = 'color-text-gradient'
                  assign content_color_style = '--text-color-gradient:' | append: block.settings.text_color_gradient
                endif
              -%}
              <div class="running-content-item running-content-text ta-center d-flex center-xs middle-xs {{ section.settings.heading_size }} {{ content_color_class }} rte m-zero" style="{{ content_color_style }}" {{ block.shopify_attributes }}>
                {{- block.settings.text -}}
                {{- block.settings.svg_icon -}}
              </div>
            {%- when 'icon' -%}
              {%- liquid
                assign icon_color = ''
                unless block.settings.color_content.alpha == 0.0 or block.settings.color_content == blank
                  assign icon_color = 'color: ' | append: block.settings.color_content
                endunless
              -%}
              <div class="running-content-item ta-center d-flex center-xs middle-xs custom-icon" {{ block.shopify_attributes }}>
                <div class="marquee-item--icon" style="{{ icon_color }}">
                {%- liquid
                  assign icon_source = block.settings.icon_source
                  if icon_source == 'theme_library'
                    render 'icon-loader', icon: block.settings.options_icon, class: 'h-100 w-100'
                  endif
                -%}
                {%- if block.settings.html_code != '' and icon_source != 'theme_library' -%}
                    {{- block.settings.html_code -}}
                  {%- endif -%}
                </div>
              </div>
            {%- when 'image' -%}
              {%- liquid
                assign media = 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder media of-cover h-100 w-100 js-image-lazy'
                assign image_alt = block.settings.image.alt | default: block.settings.image | split: '/' | last
                assign media = block.settings.image | image_url: width: block.settings.image.width | image_tag: widths: '120, 240, 350', sizes: '350px', alt: image_alt, class: 'media of-cover h-100 w-100', loading: loading, fetchpriority: fetchpriority, decoding: decoding
              -%}
              <div class="running-content-item ta-center d-flex center-xs middle-xs" {{ block.shopify_attributes }} >
                {%- render 'image', image_item: media, ratio: block.settings.image.aspect_ratio , image_wrap_classes: "h-100 marquee-item--image", image_classes: "h-100 w-100" -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      {%- endcapture -%}
      <div class="marquee-container js-marquee-items d-flex o-hidden zi-m-1 {{ section.settings.pause_when_hover | default: '' | replace: 'true', 'marquee--animation-pause' }}">
        {%- case section.blocks.size -%}
          {%- when 1 -%}
          {%- for i in (1..12) -%}
            <div class="js-marquee-item d-flex fw-nowrap fs-0 marquee__items--animate middle-xs marquee--{{- section.settings.moving_direction }}">
              {{- marquee_item -}}
            </div>
            {%- endfor -%}
          {%- when 2,3 -%}
            {%- for i in (1..7) -%}
              <div class="js-marquee-item d-flex fw-nowrap fs-0 marquee__items--animate middle-xs marquee--{{- section.settings.moving_direction }}">
                {{- marquee_item -}}
              </div>
            {%- endfor -%}
          {%- else -%}
            {%- for i in (1..5) -%}
              <div class="js-marquee-item d-flex fw-nowrap fs-0 marquee__items--animate middle-xs marquee--{{- section.settings.moving_direction }}">
                {{- marquee_item -}}
              </div>
              {%- endfor -%}
          {%- endcase -%}
      </div>
    </sht-marquee>
  </div>
</div>
{%- endif -%}
{% schema %}
{
  "name": "t:sections.running_content.name",
  "max_blocks": 20,
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.general.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "speed",
      "label": "t:sections.running_content.settings.speed.label",
      "default": "50",
      "options": [
        {
          "value": "50",
          "label": "t:sections.running_content.settings.speed.option_1.label"
        },
        {
          "value": "100",
          "label": "t:sections.running_content.settings.speed.option_2.label"
        },
        {
          "value": "150",
          "label": "t:sections.running_content.settings.speed.option_3.label"
        },
        {
          "value": "200",
          "label": "t:sections.running_content.settings.speed.option_4.label"
        }
      ]
    },
    {
      "type": "select",
      "label": "t:sections.running_content.settings.moving_direction.label",
      "id": "moving_direction",
      "options": [
        {
          "value": "animation-direction",
          "label": "t:sections.running_content.settings.moving_direction.option_1.label"
        },
        {
          "value": "animation-reverse",
          "label": "t:sections.running_content.settings.moving_direction.option_2.label"
        }
      ],
      "default": "animation-direction"
    },
    {
      "type": "checkbox",
      "id": "pause_when_hover",
      "label": "t:sections.running_content.settings.pause_when_hover.label",
      "default": false
    },
    {
      "type": "select",
      "label": "t:general.settings.text_size.label",
      "info": "t:general.settings.text_size.info",
      "id": "heading_size",
      "options": [
        {
          "value": "headline",
          "label": "t:general.settings.heading_size.options.headline.label"
        },
        {
          "value": "h1",
          "label": "t:general.settings.heading_size.options.h1.label"
        },
        {
          "value": "h2",
          "label": "t:general.settings.heading_size.options.h2.label"
        },
        {
          "value": "h3",
          "label": "t:general.settings.heading_size.options.h3.label"
        },
        {
          "value": "h4",
          "label": "t:general.settings.heading_size.options.h4.label"
        },
        {
          "value": "h5",
          "label": "t:general.settings.heading_size.options.h5.label"
        },
        {
          "value": "h6",
          "label": "t:general.settings.heading_size.options.h6.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 24
    },
    {
      "type": "paragraph",
      "content": " Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 15
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 15
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:general.settings.text.label",
      "settings": [
        {
          "type": "richtext",
          "label": "t:general.settings.text.label",
          "id": "text",
          "default": "<p>Promotion text</p>"
        },
        {
          "type": "html",
          "label": "Svg Icon",
          "id": "svg_icon"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "t:general.settings.text.label"
        },
        {
          "type": "color_background",
          "id": "text_color_gradient",
          "label": "t:sections.value_list.blocks.settings.value_gradient.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:general.settings.image.label",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.running_content.blocks.image.settings.paragraph.content"
        },
        {
          "type": "image_picker",
          "label": "t:general.settings.image.label",
          "id": "image"
        }
      ]
    },
    {
      "type": "icon",
      "name": "t:sections.running_content.blocks.icon.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.running_content.blocks.icon.settings.paragraph.content"
        },
        {
          "type": "select",
          "id": "icon_source",
          "label": "t:general.settings.icon_source.label",
          "options": [
            {
              "value": "theme_library",
              "label": "t:general.settings.theme_library.label"
            },
            {
              "value": "custom_svg",
              "label": "t:general.settings.custom_svg.label"
            }
          ],
          "default": "theme_library"
        },
        {
          "type": "select",
          "id": "options_icon",
          "label": "t:general.settings.theme_library.label",
          "default": "subscription",
          "options": [
            {
              "group": "t:general.settings.functional.label",
              "value": "3d-model",
              "label": "3d model"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "account",
              "label": "Account"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "arrow-down",
              "label": "Arrow down"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "arrow-left",
              "label": "Arrow left"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "arrow-right",
              "label": "Arrow right"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "arrow-up",
              "label": "Arrow up"
            },
            {
              "group": "t:general.settings.health_beauty.label",
              "value": "bottle",
              "label": "Bottle"
            },
            {
              "group": "t:general.settings.shipping.label",
              "value": "box",
              "label": "Box"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "cart",
              "label": "Cart"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "check-circle",
              "label": "Check circle"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "check",
              "label": "Check"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "chevron-down",
              "label": "Chevron down"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "chevron-left",
              "label": "Chevron left"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "chevron-right",
              "label": "Chevron right"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "chevron-up",
              "label": "Chevron up"
            },
            {
              "group": "t:general.settings.shipping.label",
              "value": "clock",
              "label": "Clock"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "close",
              "label": "Close"
            },
            {
              "group": "t:general.settings.health_beauty.label",
              "value": "cream-tube",
              "label": "Cream tube"
            },
            {
              "group": "t:general.settings.shop.label",
              "value": "discount",
              "label": "Discount"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "drag",
              "label": "Drag"
            },
            {
              "group": "t:general.settings.fashion.label",
              "value": "dress",
              "label": "Dress"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "ellipsis",
              "label": "Ellipsis"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "exit-full-screen",
              "label": "Exit full screen"
            },
            {
              "group": "t:general.settings.social.label",
              "value": "facebook",
              "label": "Facebook"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "filter-2",
              "label": "Filter 2"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "filter",
              "label": "Filter"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "full-screen",
              "label": "Full screen"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "functional-3d",
              "label": "Functional 3d"
            },
            {
              "group": "t:general.settings.shop.label",
              "value": "gift",
              "label": "Gift"
            },
            {
              "group": "t:general.settings.shipping.label",
              "value": "global",
              "label": "Global"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "grid-1",
              "label": "Grid 1"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "grid-2",
              "label": "Grid 2"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "hamburger",
              "label": "Hamburger"
            },
            {
              "group": "t:general.settings.health_beauty.label",
              "value": "hand",
              "label": "Hand"
            },
            {
              "group": "t:general.settings.shop.label",
              "value": "heart",
              "label": "Heart"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "home",
              "label": "Home"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "info",
              "label": "Info"
            },
            {
              "group": "t:general.settings.social.label",
              "value": "instagram",
              "label": "Instagram"
            },
            {
              "group": "t:general.settings.fashion.label",
              "value": "iron",
              "label": "Iron"
            },
            {
              "group": "t:general.settings.shop.label",
              "value": "like",
              "label": "Like"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "linear",
              "label": "Linear"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "link",
              "label": "Link"
            },
            {
              "group": "t:general.settings.social.label",
              "value": "linkedin",
              "label": "Linkedin"
            },
            {
              "group": "t:general.settings.health_beauty.label",
              "value": "lipstick",
              "label": "Lipstick"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "mail",
              "label": "Mail"
            },
            {
              "group": "t:general.settings.health_beauty.label",
              "value": "makeup-brush",
              "label": "Makeup brush"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "minus",
              "label": "Minus"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "mute",
              "label": "Mute"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "next",
              "label": "Next"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "page",
              "label": "Page"
            },
            {
              "group": "t:general.settings.fashion.label",
              "value": "pants",
              "label": "Pants"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "pause",
              "label": "Pause"
            },
            {
              "group": "t:general.settings.shop.label",
              "value": "percent",
              "label": "Percent"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "phone",
              "label": "Phone"
            },
            {
              "group": "t:general.settings.social.label",
              "value": "pinterest",
              "label": "Pinterest"
            },
            {
              "group": "t:general.settings.shipping.label",
              "value": "plane",
              "label": "Plane"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "play-circle",
              "label": "Play Circle"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "play",
              "label": "Play"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "plus",
              "label": "Plus"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "quote",
              "label": "Quote"
            },
            {
              "group": "t:general.settings.shipping.label",
              "value": "return",
              "label": "Return"
            },
            {
              "group": "t:general.settings.fashion.label",
              "value": "rss",
              "label": "Rss"
            },
            {
              "group": "t:general.settings.fashion.label",
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "save",
              "label": "Save"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "search",
              "label": "Search"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "share",
              "label": "Share"
            },
            {
              "group": "t:general.settings.fashion.label",
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "group": "t:general.settings.fashion.label",
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "group": "t:general.settings.social.label",
              "value": "snapchat",
              "label": "Snapchat"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "spinner",
              "label": "Spinner"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "star-half",
              "label": "Star half"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "star-line",
              "label": "Star line"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "star",
              "label": "Star"
            },
            {
              "group": "t:general.settings.shop.label",
              "value": "storefront",
              "label": "Storefront"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "subscription",
              "label": "Subscription"
            },
            {
              "group": "t:general.settings.social.label",
              "value": "tiktok",
              "label": "Tiktok"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "trash-bin",
              "label": "Trash bin"
            },
            {
              "group": "t:general.settings.shipping.label",
              "value": "truck",
              "label": "Truck"
            },
            {
              "group": "t:general.settings.social.label",
              "value": "tumblr",
              "label": "Tumblr"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "unmute",
              "label": "Unmute"
            },
            {
              "group": "t:general.settings.social.label",
              "value": "vimeo",
              "label": "Vimeo"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "warning",
              "label": "Warning"
            },
            {
              "group": "t:general.settings.fashion.label",
              "value": "washing",
              "label": "Washing"
            },
            {
              "group": "t:general.settings.social.label",
              "value": "x-twitter",
              "label": "Twitter"
            },
            {
              "group": "t:general.settings.social.label",
              "value": "youtube",
              "label": "Youtube"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "zoom-in",
              "label": "Zoom in"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "zoom-out",
              "label": "Zoom out"
            }
          ]
        },
        {
          "type": "html",
          "id": "html_code",
          "label": "t:general.settings.custom_svg.label",
          "info": "t:general.settings.custom_svg.info"
        },
        {
          "type": "color",
          "id": "color_content",
          "label": "t:general.settings.icon.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.running_content.name",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "image"
        },
        {
          "type": "icon"
        }
      ]
    }
  ]
}
{% endschema %}

