
{{ 'section-video-gallery-impression.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile | append: 'px' }};
    padding-bottom: {{ section.settings.padding_bottom_mobile | append: 'px' }};
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | append: 'px'}};
      padding-bottom: {{ section.settings.padding_bottom | append: 'px'}};
    }
  }
{%- endstyle -%}

{% liquid
  assign video_items = section.blocks | where: 'type', 'video_item'

  assign desktop_column = section.settings.desktop_column
  assign tab_column = section.settings.tab_column
  assign mobile_column = section.settings.mobile_column
  assign enable_pagination = section.settings.enable_pagination
  assign enable_navigation = section.settings.enable_navigation
  assign autoPlay = section.settings.autoplay_enabled
  assign loop = section.settings.loop_enabled
  assign delay = section.settings.autoplay_timeout | times: 1000
  assign enable_scroll = section.settings.enable_scroll
  assign pagination_type = section.settings.pagination_type
%}

<div class="video-gallery-impression  solate section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient">

<slideshow-swiper>
  <div class="container p-0 g-0">
  

    {% if section.settings.heading != blank %}
      <div class="row g-0">
        <div class="col-12">
          <div class="impression-header">
            <div class="impression-text-wrap">
                {% if section.settings.heading != blank %}
                <h2
                  class="video-gallery-title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                  {% endif %}
                >
                <span class="sparkle-impression">
                  <svg  class="sparkle" width="54" height="53" viewBox="0 0 54 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M42.7717 0C32.412 23.159 33.2894 26.8005 53.0352 42.7365C29.8763 32.3769 26.2348 33.2542 10.2987 53C20.6583 29.841 19.781 26.1995 0.0351562 10.2635C23.1941 20.6231 26.8356 19.7458 42.7717 0Z" fill="#FFC580"/>
                  </svg>

                </span>
                  {{ section.settings.heading }}

                </h2>
              {% endif %}
            </div>

            
        {% if enable_navigation %}
          <div class="swiper-navigation-wrapper  color-{{ section.settings.secondary_color_scheme }}">
            <div class="swiper-button-prev">
              <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25.0352 13H1.03516" stroke="#FFFCF2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.0352 25L1.03516 13L13.0352 1" stroke="#FFFCF2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              
            </div>

            <div class="swiper-button-next">
              <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.03516 13L25.0352 13" stroke="#FFFCF2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.0352 1L25.0352 13L13.0352 25" stroke="#FFFCF2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              
            </div>
          </div>
        {% endif %}

          </div>
        </div>
      </div>
    {% endif %}


      <div
        class="slideshow__swiper swiper-container video-slider  {%if enable_pagination or enable_scroll%} enable-pagination{%endif %} "
        data-centeredslides="false"
        data-slidesDesktop="{{ desktop_column }}"
        data-slidesTab="{{ tab_column }}"
        data-slidesMobile="{{ mobile_column }}"
        data-autoPlay="{{ autoPlay }}"
        data-delay="{{ delay }}"
        data-loop="{{ loop }}"
        data-freemode="false"
        data-freemomentum="false"
        data-mousewheel="false"
        data-desktopspace="16"
        data-tabspace="16"
        data-mobilespace="16"
      >
        <div
          class=" swiper-wrapper"
        >
          {%- for block in video_items -%}
            <div
              class="swiper-slide"
            >
              <div class="video-item">
                {% liquid
                  assign loading = 'lazy'
                  assign decoding = 'async'
                  assign fetchpriority = 'auto'

                  if loop.index <= 2
                    assign loading = 'eager'
                    assign fetchpriority = 'high'
                  endif

                  assign media_ratio = section.settings.video_ratio
                  assign video_thumbnail = 'image' | placeholder_svg_tag: 'placeholder js-image-lazy media of-cover'
                  assign alt_video_thumbnail = 'accessibility.load_video' | t
                  assign video_thumbnail = block.settings.video_thumbnail | image_url: width: block.settings.video_thumbnail.width | image_tag: widths: '320, 450, 550, 750, 950, 1024, 1200, 1400, 1600', sizes: '(min-width: 459px) calc(100vw - 96px), (min-width: 1025px) calc((100vw - 128px) * 0.7), 100vw', alt: alt_video_thumbnail, class: 'js-image-lazy media of-cover w-100 media', loading: loading, fetchpriority: fetchpriority, decoding: decoding

                  assign video_type = block.settings.video.type
                  if block.settings.video_source == 'video_hosted'
                    assign video_type = 'video_hosted'
                  endif

                  unless block.settings.section_content_overlay_color.alpha == 0.0 or block.settings.section_content_overlay_color == blank
                    assign content_color = 'color:' | append: block.settings.section_content_overlay_color
                  endunless
                %}

                {% liquid
                  assign detect_background = 1
                  if block.settings.color_scheme.settings.color_background.alpha != 0.0
                    assign no_transparent = 'no-transparent'
                    assign detect_background = block.settings.color_scheme.settings.color_background | color_brightness | times: 9999
                  endif
                %}

                <sht-load-media
                  data-section-id="{{ block.id }}"
                  data-id-video="{{ block.settings.video.id }}"
                  data-type="{{ video_type }}"
                  class="d-block p-relative rounded-2x js-product-media-deferred-video"
                  style="--ratio: {{ media_ratio }}"
                >
                  <button
                    class="w-100 h-100 p-zero c-pointer js-load-media-trigger media--hover-effect"
                    type="button"
                    aria-label="{{ 'accessibility.load_video' | t: video: block.settings.heading }}"
                  >
                    {% render 'image', image_item: video_thumbnail, ratio: media_ratio %}
                    <div class="p-absolute center-middle">
                      <span class="btn-icon play-btn">
                        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g opacity="0.65">
                          <path d="M32 0C40.4869 0 48.6263 3.37142 54.6274 9.37258C60.6286 15.3737 64 23.5131 64 32C64 40.4869 60.6286 48.6263 54.6274 54.6274C48.6263 60.6286 40.4869 64 32 64C23.5131 64 15.3737 60.6286 9.37258 54.6274C3.37142 48.6263 0 40.4869 0 32C0 23.5131 3.37142 15.3737 9.37258 9.37258C15.3737 3.37142 23.5131 0 32 0ZM6 32C6 38.8956 8.73928 45.5088 13.6152 50.3848C18.4912 55.2607 25.1044 58 32 58C38.8956 58 45.5088 55.2607 50.3848 50.3848C55.2607 45.5088 58 38.8956 58 32C58 25.1044 55.2607 18.4912 50.3848 13.6152C45.5088 8.73928 38.8956 6 32 6C25.1044 6 18.4912 8.73928 13.6152 13.6152C8.73928 18.4912 6 25.1044 6 32ZM25.516 20.908L42.572 31.144C42.7194 31.233 42.8413 31.3586 42.9259 31.5086C43.0106 31.6585 43.055 31.8278 43.055 32C43.055 32.1722 43.0106 32.3415 42.9259 32.4914C42.8413 32.6414 42.7194 32.767 42.572 32.856L25.516 43.092C25.3643 43.1834 25.1911 43.2328 25.0141 43.2353C24.837 43.2378 24.6625 43.1932 24.5083 43.1062C24.3541 43.0191 24.2258 42.8927 24.1365 42.7398C24.0472 42.5869 24.0001 42.4131 24 42.236V21.768C23.9994 21.5906 24.046 21.4162 24.135 21.2628C24.224 21.1093 24.3523 20.9823 24.5066 20.8948C24.6609 20.8073 24.8357 20.7624 25.0131 20.7647C25.1905 20.767 25.364 20.8165 25.516 20.908Z" fill="currentColor"/>
                          </g>
                        </svg>
                      </span>
                    </div>
                  </button>
                  {%- if block.settings.video_source == 'video_hosted' and block.settings.video_hosted != blank -%}
                    <template>
                      {{
                        block.settings.video_hosted
                        | video_tag:
                          autoplay: true,
                          muted: false,
                          controls: true,
                          preload: 'none',
                          class: 'ratio-media w-100 h-100 d-block js-media-item-video'
                      }}
                    </template>
                  {%- else -%}
                    <div
                      class="js-media-item external-video ratio-media h-100 w-100 d-none middle-xs center-xs"
                      data-type="{{ block.settings.video.type }}"
                      id="shtVideo-{{ block.id }}-{{ block.settings.video.id }}"
                    ></div>
                  {%- endif -%}
                </sht-load-media>
              </div>
            </div>
          {%- endfor -%}
        </div>


        {% if enable_pagination %}
          <div class="swiper-pagination color-{{ section.settings.secondary_color_scheme }}"></div>
        {% endif %}

        {% if enable_scroll %}
          <div class="swiper-scrollbar"></div>
        {% endif %}
      </div>



  </div>

  </slideshow-swiper>
</div>

{% schema %}
{
  "name": "Video Impression",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "svg_heading",
      "label": "Image/Svg Heading Desktop"
    },
    {
      "type": "image_picker",
      "id": "svg_heading_mobile",
      "label": "Image/Svg Heading Mobile"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Video gallery",
      "label": "Heading"
    },
    {
      "type": "select",
      "label": "t:sections.video_with_text.video_size.label",
      "id": "video_ratio",
      "options": [
        {
          "value": "4/3",
          "label": "t:general.settings.video_ratio.options_1.label"
        },
        {
          "value": "16/9",
          "label": "t:general.settings.video_ratio.options_2.label"
        },
        {
          "value": "1",
          "label": "t:general.settings.video_ratio.options_3.label"
        },
        {
          "value": "2/4",
          "label": "2:4"
        },
        {
          "value": "4/5",
          "label": "4:5"
        }
      ],
      "default": "16/9"
    },
    {
      "type": "select",
      "id": "desktop_column",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        }
      ],
      "default": "4",
      "label": "Desktop Column"
    },
    {
      "type": "select",
      "id": "tab_column",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
      "default": "2",
      "label": "Tab Column"
    },
    {
      "type": "select",
      "id": "mobile_column",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1",
      "label": "Mobile Column"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "checkbox",
      "id": "autoplay_enabled",
      "label": "Enable Auto Play",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_timeout",
      "label": "Chnage Time",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 5,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "loop_enabled",
      "label": "Enable Loop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_pagination",
      "label": "Enable Pagination",
      "default": false
    },
    {
      "type": "select",
      "id": "pagination_type",
      "options": [
        {
          "value": "bullets",
          "label": "Bullets"
        },
        {
          "value": "progressbar",
          "label": "Progress"
        }
      ],
      "default": "bullets",
      "label": "Pagination Type"
    },
    {
      "type": "checkbox",
      "id": "enable_navigation",
      "label": "Enable Naviagtion",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_scroll",
      "label": "Enable Scroll",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 116
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 116
    },
    {
      "type": "paragraph",
      "content": " Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 58
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 58
    }
  ],
  "blocks": [
    {
      "type": "video_item",
      "name": "Video Item",
      "settings": [
        {
          "type": "header",
          "content": "t:general.settings.headers.video.content"
        },
        {
          "type": "select",
          "id": "video_source",
          "label": "t:sections.video_banner.settings.video_source.label",
          "default": "video_external",
          "options": [
            {
              "value": "video_external",
              "label": "t:general.settings.external.label"
            },
            {
              "value": "video_hosted",
              "label": "t:general.settings.shopify_hosted.label"
            }
          ]
        },
        {
          "type": "video_url",
          "id": "video",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:general.settings.external_video.label",
          "info": "t:general.settings.video_link.info"
        },
        {
          "type": "video",
          "id": "video_hosted",
          "label": "t:general.settings.header_hosted_video.label"
        },

        {
          "type": "image_picker",
          "id": "video_thumbnail",
          "label": "t:general.settings.video_thubnail.label"
        },
        {
          "type": "checkbox",
          "id": "enable_autoplay",
          "label": "t:general.settings.enable_autoplay.label",
          "info": "t:general.settings.enable_autoplay.info",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "enable_video_loop",
          "label": "t:general.settings.enable_video_loop.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_video_mute",
          "label": "t:general.settings.enable_video_mute.label",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video Impression",
      "blocks": [
        {
          "type": "video_item"
        },
        {
          "type": "video_item"
        },
        {
          "type": "video_item"
        },
        {
          "type": "video_item"
        },
        {
          "type": "video_item"
        },
        {
          "type": "video_item"
        },
        {
          "type": "video_item"
        },
        {
          "type": "video_item"
        },
        {
          "type": "video_item"
        },
        {
          "type": "video_item"
        }
      ]
    }
  ]
}
{% endschema %}
